<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>chain_proj</display-name>
	<welcome-file-list>
		<welcome-file>product.html</welcome-file>
	</welcome-file-list>

	<servlet-mapping>
		<servlet-name>Chainproj</servlet-name>
		<url-pattern>/fs</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Chainproj</servlet-name>
		<servlet-class>org.jecm12.chainApp.ChainApp</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Secondproj</servlet-name>
		<url-pattern>/ss</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Secondproj</servlet-name>
		<servlet-class>org.jecm12.chainApp.SecondServlet</servlet-class>
	</servlet>
</web-app>